

.rtl {
  direction: rtl; 
}

.ltr {
  direction: ltr; 
}

.demo-rtl{
  position: fixed;
  top: 400px;
  left: 0;
  z-index: 9999;
}

button.rtl{
  background: #222;
  display: block;
  text-indent: inherit;
  font-size: 12px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  margin: 0px;
  color: #fff !important;
}

.demo-ltr{
  position: fixed;
  top: 400px;
  left: auto;
  right: 0;
  z-index: 9999;
}

button.ltr {
  background: #222;
  display: block;
  text-indent: inherit;
  font-size: 12px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0px;
  color: #fff !important;
}

body.ltr .demo-rtl{
  display: block;
}

body.ltr .demo-ltr{
  display: none;
}

body.rtl .demo-rtl{
  display: none;
}

body.rtl .demo-ltr{
  display: block;
}

.banner-section{
  direction: ltr;
}

.rtl .xs-sidebar-group.isActive .xs-overlay{
  right: 0%;
}

.rtl .xs-sidebar-widget{
  right: -100%;
}

.rtl .xs-sidebar-group.isActive .xs-sidebar-widget{
  right: 0%;
}

.rtl .sidebar-info-contents{
  text-align: right;
}

.rtl .xs-sidebar-group .widget-heading{
  right: inherit;
  left: 0px;
}

.rtl .side-menu .navigation li.dropdown .dropdown-btn{
  right: inherit;
  left: 0px;
}

.rtl .side-menu .navigation li.dropdown .dropdown-btn:before{
  content: "\f060";
}

.rtl .side-menu .navigation li.dropdown .dropdown-btn.open {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.rtl .sidebar-info-contents .content-inner .info-box h3{
  padding-left: 0px;
  padding-right: 38px;
}

.rtl .sidebar-info-contents .content-inner .info-box h3:before{
  left: inherit;
  right: 0px;
}

.rtl .sidebar-info-contents .content-inner .info-box .info-list li{
  padding-left: 0px;
  padding-right: 30px;
}

.rtl .sidebar-info-contents .content-inner .info-box .info-list li i{
  left: inherit;
  right: 0px;
}

.rtl .sidebar-info-contents .content-inner .info-box .social-links li:last-child{
  margin-right: 30px;
}

.rtl .sidebar-info-contents .content-inner .info-box .social-links li:first-child{
  margin-right: 0px;
}

.rtl .main-header.style-one .header-top .top-left li:last-child{
  margin-right: 25px;
}

.rtl .main-header.style-one .header-top .top-left li:first-child{
  margin-right: 0px;
}

.rtl .main-header.style-one .header-top .top-left li i{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .main-header.style-one .header-top .top-right li:last-child{
  margin-right: 15px;
}

.rtl .main-header.style-one .header-top .top-right li:first-child{
  margin-right: 0px;
}

.rtl .main-header .header-lower .logo-box{
  float: right;
}

.rtl .main-header .menu-area{
  float: left;
}

.rtl .main-header.style-one .main-menu{
  float: right;
}

.rtl .main-header.style-one .header-lower .menu-right-content{
  float: left;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 30px;
  margin-right: 38px;
}

.rtl .main-header.style-one .header-lower .menu-right-content:before{
  left: inherit;
  right: -12px;
}

.rtl .search-popup .close-search{
  right: inherit;
  left: 0px;
}

.rtl .main-menu .navigation > li{
  float: right;
}

.rtl .main-menu .navigation > li > ul > li > a{
  text-align: right;
}

.rtl .main-menu .navigation > li > ul > li > ul > li > a{
  text-align: right;
}

.rtl .main-menu .navigation > li > ul > li.dropdown > a:after{
  right: inherit;
  left: 20px;
  content: "\f104";
}

.rtl .main-menu .navigation > li.dropdown > .megamenu{
  text-align: right;
}

.rtl .banner-carousel .content-box{
  text-align: right;
}

.rtl .banner-carousel .content-box h5{
  padding-right: 0px;
  padding-left: 55px;
}

.rtl .banner-carousel .content-box h5:before{
  right: inherit;
  left: 0px;
}

.rtl .sticky-header .logo-box{
  float: right;
}

.rtl .sticky-header .main-menu .navigation > li:first-child{
  margin-right: 0px !important;
  margin-left: 30px !important;
}

.rtl .sticky-header .main-menu .navigation > li:last-child {
  margin-right: 30px !important;
  margin-left: 0px !important;
}

.rtl .search-popup .search-form fieldset input[type="submit"]{
  right: inherit;
  left: 0px;
  border-radius: 7px 0px 0px 7px;
}

.rtl .search-popup .search-form fieldset input[type="search"]{
  padding-right: 30px;
  padding-left: 250px;
}

.rtl .info-section .text-column .text{
  text-align: right;
}

.rtl .info-section .text-column .text a i{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .info-section .title-inner{
  padding-left: 0px;
  padding-right: 250px;
}

.rtl .info-section .title-inner .year-box{
  left: inherit;
  right: 0px;
}

.rtl .info-section .title-inner .title h2{
  text-align: right;
}

.rtl .feature-block-one .inner-box .lower-content .inner a i{
  margin-left: 0px;
  margin-right: 7px;
}

.rtl #content_block_one .content-box{
  text-align: right;
}

.rtl .about-section .content-box{
  margin-right: 0px;
  margin-left: -15px;
}

.rtl .about-section .video-inner{
  margin-right: 0px;
  margin-left: 70px;
}

.rtl #content_block_one .content-box .inner-box .single-item{
  padding-left: 0px;
  padding-right: 85px;
}

.rtl #content_block_one .content-box .inner-box .single-item .icon-box{
  left: inherit;
  right: 0px;
}

.rtl .sec-title.left h5{
  padding-right: 0px;
  padding-left: 55px;
}

.rtl .sec-title.left h5:before{
  right: inherit;
  left: 0px;
}

.rtl .title-box .text{
  text-align: right;
  padding-right: 40px;
  padding-left: 100px;
}

.rtl .title-box .sec-title{
  text-align: left;
  padding-right: 0px;
  padding-left: 40px;
}

.rtl .title-box .sec-title:before{
  right: inherit;
  left: -15px;
}

.rtl .sec-title.right h5{
  padding-left: 0px;
  padding-right: 55px;
}

.rtl .sec-title.right h5:before{
  left: inherit;
  right: 0px;
}

.rtl .service-block-one .inner-box{
  text-align: right;
  margin-right: 0px;
  margin-left: 60px;
}

.rtl .service-block-one .inner-box .inner{
  padding-left: 0px;
  padding-right: 100px;
}

.rtl .service-block-one .inner-box .inner .icon-box{
  left: inherit;
  right: 0px;
}

.rtl .service-block-one .inner-box .inner a i{
  margin-right: 0px;
  margin-left: 8px;
}

.rtl .project-section{
  direction: ltr;
}

.rtl .project-block-one .inner-box .lower-content{
  text-align: right;
}

.rtl .project-block-one .inner-box .lower-content p{
  padding-right: 0px;
  padding-left: 58px;
}

.rtl .project-block-one .inner-box .lower-content p:before{
  right: inherit;
  left: 0px;
}

.rtl .sec-title.left{
  text-align: right;
}

.rtl #content_block_two .content-box .text{
  text-align: right;
}

.rtl #content_block_two .content-box .single-progress-box{
  float: right;
}

.rtl .annual-stats #image_block_one .image-box{
  margin-left: 0px;
  margin-right: 55px;
}

.rtl #image_block_one .image-box .pattern-layer{
  right: inherit;
  left: -250px;
}

.rtl .world-cyber .office-location .location-area .location-box .address-box{
  padding-left: 15px;
  padding-right: 60px;
  text-align: right;
}

.rtl .world-cyber .office-location .location-area .location-box .address-box .icon-box{
  left: inherit;
  right: 16px;
}

.rtl .testimonial-section .testimonial-inner{
  direction: ltr;
}

.rtl .news-block-one .inner-box .lower-content{
  text-align: right;
}

.rtl .news-block-one .inner-box .lower-content .post-info li.share{
  right: inherit;
  left: 18px;
}

.rtl .news-block-one .inner-box .lower-content .post-info li:first-child{
  margin-right: 0px;
  margin-left: 17px;
}

.rtl .news-block-one .inner-box .lower-content .post-info li:first-child:before{
  right: inherit;
  left: -11px;
}

.rtl .news-block-one .inner-box .lower-content .post-info li.share .social-links{
  right: inherit;
  left: 0%;
}

.rtl .news-block-one .inner-box .lower-content .link a i{
  margin-right: 0px;
  margin-left: 8px;
}

.rtl .news-block-one .inner-box .lower-content .post-info li.share:hover .social-links{
  right: inherit;
  left: 0%;
}

.rtl .clients-section{
  direction: ltr;
}

.rtl .cta-section .title{
  float: right;
}

.rtl .cta-section .btn-box{
  float: left;
}

.rtl .fun-fact .counter-column:before{
  right: inherit;
  left: 0px;
}

.rtl .fun-fact .counter-column:first-child:after{
  left: inherit;
  right: 0px;
}

.rtl .main-footer .footer-top{
  text-align: right;
}

.rtl .main-footer .widget-section .logo-widget .info-list li{
  padding-left: 0px;
  padding-right: 26px;
}

.rtl .main-footer .widget-section .logo-widget .info-list li i{
  left: inherit;
  right: 0px;
}

.rtl .main-footer .widget-section .logo-widget .social-links li:last-child{
  margin-right: 15px;
}

.rtl .main-footer .widget-section .logo-widget .social-links li:first-child{
  margin-right: 0px;
}

.rtl .main-footer .widget-section .footer-widget .widget-title h4{
  padding-right: 0px;
  padding-left: 57px;
}

.rtl .main-footer .widget-section .footer-widget .widget-title h4:before{
  right: inherit;
  left: 0px;
}

.rtl .main-footer .widget-section .links-widget .widget-content ul li{
  padding-left: 0px;
  padding-right: 22px;
}

.rtl .main-footer .widget-section .links-widget .widget-content ul li:before{
  left: inherit;
  right: 0px;
  content: "\f100";
}

.rtl .ml-70{
  margin-left: 0px;
  margin-right: 70px;
}

.rtl .main-footer .widget-section .newsletter-widget .newsletter-form .form-group i{
  right: inherit;
  left: 20px;
}

.rtl .main-footer .widget-section .newsletter-widget .newsletter-form .form-group input[type='text'], 
.rtl .main-footer .widget-section .newsletter-widget .newsletter-form .form-group input[type='email']{
  padding-right: 20px;
  padding-left: 50px;
}

.rtl .main-header.style-two .header-top .info{
  float: right;
}

.rtl .main-header.style-two .header-top .top-right{
  float: left;
}

.rtl .main-header.style-two .header-top li:before{
  right: inherit;
  left: -20px;
}

.rtl .main-header.style-two .header-top .social-links li:last-child{
  margin-right: 35px;
}

.rtl .main-header.style-two .header-top .social-links li:first-child{
  margin: 0px;
}

.rtl .main-header.style-two .header-top .info li{
  margin-right: 0px;
  margin-left: 35px;
}

.rtl .main-header.style-two .header-top .info li:last-child{
  margin-left: 0px;
}

.rtl .main-header.style-two .header-upper .logo-box{
  float: right;
}

.rtl .main-header.style-two .header-upper .info-box{
  float: left;
}

.rtl .main-header.style-two .header-upper .info-box .info-list li:first-child{
  margin-right: 0px;
}

.rtl .main-header.style-two .header-upper .info-box .info-list li:last-child{
  margin-right: 20px;
}

.rtl .main-header.style-two .header-upper .info-box .info-list li{
  padding-left: 0px;
  padding-right: 70px;
  text-align: right;
}

.rtl .main-header.style-two .header-upper .info-box .info-list li i{
  left: inherit;
  right: 0px;
}

.rtl .main-header.style-two .header-lower .main-menu{
  float: right;
}

.rtl .main-header.style-two .header-lower .menu-right-content{
  float: left;
}

.rtl .main-header.style-two .header-lower .menu-right-content .btn-box{
  margin-left: 0px;
  margin-right: 80px;
}

.rtl .main-header.style-two .header-lower .outer-box .menu-area{
  padding-left: 0px;
  padding-right: 30px;
  float: none;
}

.rtl .main-header.style-two .header-lower .menu-right-content .search-btn{
  padding-left: 0px;
  padding-right: 40px;
}

.rtl .main-header.style-two .header-lower .menu-right-content .search-btn:before{
  left: inherit;
  right: 0px;
}

.rtl .banner-section.style-two .banner-carousel .content-box h5{
  padding-left: 0px;
  padding-right: 55px;
}

.rtl .banner-section.style-two .banner-carousel .content-box h5:before{
  left: inherit;
  right: 0px;
}

.rtl #content_block_three .content-box{
  text-align: right;
}

.rtl .sec-title.style-two h5{
  padding-left: 0px;
  padding-right: 55px;
}

.rtl .sec-title.style-two h5:before{
  left: inherit;
  right: 0px;
}

.rtl #content_block_three .content-box .inner-box .single-item{
  padding-left: 0px;
  padding-right: 50px;
}

.rtl #content_block_three .content-box .inner-box .single-item .icon-box{
  left: inherit;
  right: 0px;
}

.rtl .about-style-two .content-box{
  margin-right: 0px;
  margin-left: 60px;
}

.rtl #image_block_two .image-box .content-box{
  left: inherit;
  right: 70px;
  text-align: right;
}

.rtl #image_block_two .image-box .content-box i{
  left: inherit;
  right: 30px;
}

.rtl #image_block_two .image-box .content-box{
  border-left: none;
}

.rtl .stats-section .single-item:before{
  right: inherit;
  left: -15px;
}

.rtl .service-block-two .inner-box{
  padding-left: 0px;
  padding-right: 136px;
  text-align: right;
}

.rtl .service-block-two .inner-box .icon-box{
  left: inherit;
  right: 0px;
}

.rtl .protect-form .inner-box .zip-form .form-group input[type='text']{
  float: right;
}

.rtl .protect-form .inner-box .zip-form .form-group button{
  float: left;
}

.rtl .protect-form .inner-box .zip-form .form-group button i{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl #content_block_four .content-box{
  text-align: right;
}

.rtl #content_block_four .content-box .tab-btn-box .tab-btns li{
  float: right;
}

.rtl #content_block_four .content-box .tabs-content .list-item li{
  padding-left: 0px;
  padding-right: 22px;
}

.rtl #content_block_four .content-box .tabs-content .list-item li:before{
  left: inherit;
  right: 0px;
}

.rtl .our-mission .content-box{
  margin-right: 0px;
  margin-left: 60px;
}

.rtl #video_block_one .video-inner .video-btn{
  right: inherit;
  left: 35px;
}

.rtl .four-item-carousel{
  direction: ltr;
}

.rtl .three-item-carousel{
  direction: ltr;
}

.rtl .team-section .upper-box .sec-title{
  float: right;
  text-align: right;
}

.rtl .team-section .upper-box .btn-box{
  float: left;
}

.rtl .team-section .upper-box .btn-box a i{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .view-plans .inner-container .text{
  float: right;
  text-align: right;
}

.rtl .view-plans .inner-container .btn-box{
  float: left;
}

.rtl .view-plans .inner-container .text h5{
  padding-left: 0px;
  padding-right: 55px;
}

.rtl .view-plans .inner-container .text h5:before{
  left: inherit;
  right: 0px;
}

.rtl .testimonial-style-two .testimonial-content .inner-box .text{
  text-align: right;
}

.rtl .testimonial-style-two .testimonial-content .inner-box .text i{
  right: inherit;
  left: 25px;
}

.rtl .testimonial-style-two .testimonial-content .inner-box .text:before{
  left: inherit;
  right: 54px;
}

.rtl .testimonial-style-two .testimonial-content .inner-box .author-info{
  margin-left: 0px;
  margin-right: 30px;
  padding-left: 0px;
  padding-right: 100px;
  text-align: right;
}

.rtl .testimonial-style-two .testimonial-content .inner-box .author-info .image-box{
  left: inherit;
  right: 0px;
}

.rtl #content_block_five .content-box{
  text-align: right;
}

.rtl #content_block_five .content-box .info-list li{
  padding-left: 0px;
  padding-right: 80px;
}

.rtl #content_block_five .content-box .info-list li i{
  left: inherit;
  right: 0px;
}

.rtl .policy-section #content_block_five .content-box{
  margin-right: 0px;
  margin-left: 100px;
}

.rtl #content_block_six .tab-btn-box .tab-btns li{
  float: right;
}

.rtl #content_block_six .tabs-content .content-inner form .form-group input[type='text'], 
.rtl #content_block_six .tabs-content .content-inner form .form-group input[type='email'], 
.rtl #content_block_six .tabs-content .content-inner form .form-group select{
  padding-left: 20px;
  padding-right: 50px;
}

.rtl #content_block_six .tabs-content .content-inner form .form-group i{
  left: inherit;
  right: 20px;
}

.rtl .nice-select{
  padding-left: 20px;
  padding-right: 50px;
}

.rtl .nice-select .option{
  text-align: right;
}

.rtl .nice-select{
  text-align: right !important;
}

.rtl .nice-select:after{
  right: inherit;
  left: 25px;
}

.rtl #content_block_six .tab-btn-box .tab-btns li:first-child{
  margin-right: 0px;
}

.rtl #content_block_six .tab-btn-box .tab-btns li:last-child{
  margin-right: 30px;
}

.rtl .news-section.style-two .news-block-one .inner-box .lower-content .link a:hover{
  padding-left: 25px;
}

.rtl .main-header.style-three .header-lower .menu-right-content .support-box{
  padding-left: 0px;
  padding-right: 80px;
  text-align: right;
}

.rtl .main-header.style-three .header-lower .menu-right-content .support-box i{
  left: inherit;
  right: 0px;
}

.rtl .main-header.style-one .header-top .top-left{
  float: right;
}

.rtl .main-header.style-one .header-top .top-right{
  float: left;
}

.rtl .intro-section .upper-content .single-item .inner-box{
  text-align: right;
}

.rtl .intro-section .upper-content .single-item .inner-box:before{
  right: inherit;
  left: -15px;
}

.rtl .info-style-two #video_block_two .video-content{
  margin-right: 0px;
  margin-left: 55px;
}

.rtl #video_block_two .video-content .pattern-layer{
  left: inherit;
  right: -210px;
}

.rtl #content_block_seven .content-box{
  text-align: right;
}

.rtl #content_block_seven .content-box .info-list li{
  padding-left: 0px;
  padding-right: 90px;
}

.rtl #content_block_seven .content-box .info-list li i{
  left: inherit;
  right: 0px;
}

.rtl #content_block_seven .content-box .support-box .box{
  padding-left: 0px;
  padding-right: 90px;
}

.rtl #content_block_seven .content-box .support-box .box i{
  left: inherit;
  right: 0px;
}

.rtl .service-style-three .upper-box .btn-box{
  right: inherit;
  left: 0px;
}

.rtl .service-style-three .upper-box .title-inner .sec-title{
  float: right;
}

.rtl .service-style-three .upper-box .title-inner .text{
  float: right;
  padding-left: 0px;
  padding-right: 30px;
  text-align: right;
}

.rtl .service-style-three .upper-box .title-inner .text:before{
  left: inherit;
  right: -40px;
}

.rtl .service-block-three .inner-box .lower-content{
  text-align: right;
}

.rtl .counter-block-two{
  text-align: right;
}

.rtl .chart-section .chart-box{
  margin-left: 0px;
  margin-right: -12px;
}

.rtl .chart-section #content_block_eight .content-box{
  margin-right: 0px;
  margin-left: 70px;
  text-align: right;
}

.rtl .project-style-two{
  direction: ltr;
}

.rtl .project-style-two .project-inner .content-box{
  text-align: right;
}

.rtl .pricing-section .tab-btn-box{
  right: inherit;
  left: 0px;
}

.rtl .pricing-section .upper-box .title-inner .sec-title{
  float: right;
}

.rtl .pricing-section .upper-box .title-inner .text{
  float: right;
  text-align: right;
}

.rtl .sec-title.left.style-three h5{
  padding-right: 0px;
}

.rtl .pricing-section .tab-btn-box .tab-btns li{
  float: right;
}

.rtl #content_block_nine .content-box .text{
  text-align: right;
}

.rtl .news-style-three .upper-box .btn-box{
  right: inherit;
  left: 0px;
}

.rtl .news-style-three .upper-box .title-inner .sec-title{
  float: right;
}

.rtl .news-style-three .upper-box .title-inner .text{
  float: right;
  text-align: right;
  padding-left: 0px;
  padding-right: 30px;
}

.rtl .news-style-three .upper-box .title-inner .text:before{
  left: inherit;
  right: -40px;
}

.rtl .service-style-three .upper-box .btn-box .theme-btn i{
  margin-left: 0px;
  margin-right: 10px;
}

.rtl .news-style-three .upper-box .btn-box .theme-btn i{
  margin-left: 0px;
  margin-right: 10px;
}

.rtl .news-block-two .inner-box .lower-content{
  text-align: right;
}

.rtl .main-footer.alternet-3 .footer-upper .upper-inner .text{
  float: right;
  text-align: right;
}

.rtl .main-footer.alternet-3 .footer-upper .upper-inner .btn-box{
  float: left;
}

.rtl .news-block-two .inner-box .lower-content .link a i{
  margin-right: 0px;
  margin-left: 8px;
}

.rtl .news-block-two .inner-box .lower-content .post-info li:last-child{
  margin-right: 17px;
}

.rtl .news-block-two .inner-box .lower-content .post-info li:first-child{
  margin-right: 0px;
}

.rtl .news-block-two .inner-box .lower-content .post-info li::before{
  right: inherit;
  left: -11px;
}

.rtl .main-header.style-four .header-lower .menu-right-content{
  float: right;
  padding-left: 0px;
  padding-right: 26px;
}

.rtl .main-header.style-four .main-menu{
  float: right;
}

.rtl .main-header.style-four .header-lower .menu-right-content .search-btn{
  float: right;
}

.rtl .main-header.style-four .header-lower .menu-right-content .search-btn{
  margin-right: 0px;
  margin-left: 40px;
}

.rtl .feature-block-three .inner-box{
  padding-left: 0px;
  padding-right: 75px;
  text-align: right;
}

.rtl .feature-block-three .inner-box .icon-box{
  left: inherit;
  right: 0px;
}

.rtl .feature-block-three .inner-box:before{
  right: inherit;
  left: 0px;
}

.rtl #image_block_three .image-box{
  margin-right: 0px;
  margin-left: -175px;
}

.rtl #content_block_ten .content-box{
  text-align: right;
}

.rtl .sec-title-two{
  text-align: right;
}

.rtl .sec-title-two h2:before{
  left: inherit;
  right: -58px;
}

.rtl #content_block_ten .content-box .year-box{
  padding-left: 0px;
  padding-right: 160px;
}

.rtl #content_block_ten .content-box .year-box .image-box{
  left: inherit;
  right: 0px;
}

.rtl #content_block_ten .content-box .year-box h5{
  padding-left: 0px;
  padding-right: 15px;
}

.rtl .service-block-four .inner-box{
  text-align: right;
}

.rtl .service-block-four .inner-box .link a i{
  margin-right: 0px;
  margin-left: 8px;
}

.rtl .funfact-style-three #content_block_12 .content-box{
  margin-right: 0px;
  margin-left: -100px;
}

.rtl .counter-block-three{
  padding-left: 0px;
  padding-right: 105px;
  text-align: right;
}

.rtl .counter-block-three .icon-box{
  left: inherit;
  right: 0px;
}

.rtl #content_block_11{
  text-align: right;
}

.rtl .skills-section .image-box{
  margin-right: 0px;
  margin-left: 35px;
}

.rtl .skills-section #content_block_13 .content-box {
  margin-right: 35px;
  margin-left: 40px;
  text-align: right;
}

.rtl #content_block_13 .content-box .progress-content .progress-box .count-text{
  right: inherit;
  left: 0px;
}

.rtl #content_block_13 .content-box .anim-icon .icon-2{
  left: inherit;
  right: -75px;
}

.rtl .project-style-three .sec-title-two{
  text-align: center;
}

.rtl .cta-style-two .sec-title-two{
  float: right;
}

.rtl .cta-style-two .inner-box .btn-box{
  float: left;
}

.rtl .testimonial-section.alternet-3 .sec-title-two{
  text-align: center;
}

.rtl .main-header.style-five .header-top .top-inner .logo-box{
  float: right;
}

.rtl .main-header.style-five .header-top .top-inner .info-box{
  float: left;
}

.rtl .main-header.style-five .header-top .top-inner .info-box ul li:last-child{
  margin-right: 20px;
}

.rtl .main-header.style-five .header-top .top-inner .info-box ul li:first-child{
  margin-right: 0px;
}

.rtl .main-header.style-five .menu-area{
  float: right;
}

.rtl .main-header.style-five .header-lower .menu-right-content{
  float: left;
  padding-left: 0px;
  padding-right: 26px;
}

.rtl .main-header.style-five .header-lower .menu-right-content .btn-box{
  float: right;
  margin-left: 0px;
  margin-right: 25px;
}

.rtl .main-header.style-five .header-lower .menu-right-content .search-btn{
  float: right;
}

.rtl .main-header.style-five .header-lower .menu-right-content:before{
  left: inherit;
  right: 0px;
}

.rtl .main-header.style-five .header-lower .menu-right-content .btn-box .theme-btn i{
  margin-right: 0px;
  margin-left: 8px;
}

.rtl .feature-block-four .inner-box .inner{
  padding-left: 0px;
  padding-right: 95px;
  text-align: right;
}

.rtl .feature-block-four .inner-box .inner .icon-box{
  left: inherit;
  right: 0px;
}

.rtl .feature-block-four .inner-box .hidden-icon{
  right: inherit;
  left: 15px;
}

.rtl .about-style-four #content_block_13 .content-box{
  margin-right: 0px;
  margin-left: 30px;
  text-align: right;
}

.rtl #image_block_four .image-box{
  margin-left: 0px;
  margin-right: 55px;
}

.rtl #image_block_four .image-box .pattern-layer{
  right: inherit;
  left: -250px;
}

.rtl .counter-block-four{
  text-align: right;
}

.rtl .service-style-five .tabs-box .tab-btn-box .tab-btns li{
  float: right;
  padding: 15px 40px 15px 64px;
}

.rtl .service-style-five .tabs-box .tab-btn-box .tab-btns li i{
  left: inherit;
  right: 0px;
}

.rtl .service-style-five .tabs-box .tab-btn-box .tab-btns li:first-child{
  padding-right: 40px;
}

.rtl .service-style-five .tabs-box .tab-btn-box .tab-btns li:last-child{
  padding-right: 40px;
  padding-left: 0px;
}

.rtl .service-style-five .tabs-content .content-box{
  margin-left: 0px;
  margin-right: 15px;
  text-align: right;
}

.rtl .service-style-five .tabs-content .content-box ul li{
  padding-left: 0px;
  padding-right: 25px;
}

.rtl .service-style-five .tabs-content .content-box ul li:before{
  left: inherit;
  right: 0px;
  content: "\f100";
}

.rtl .service-style-five .tabs-content .image-box{
  margin-right: 0px;
  margin-left: 5px;
}

.rtl .sec-title.style-four.right h5{
  padding-right: 35px;
}

.rtl .two-column-carousel{
  direction: ltr;
}

.rtl .project-style-four .sec-title{
  float: right;
  text-align: right;
}

.rtl .project-style-four .title-inner .btn-box{
  float: left;
}

.rtl .project-block-three .inner-box .lower-content .inner{
  text-align: right;
}

.rtl .working-block-two .inner-box .border-box{
  right: inherit;
  left: -110px;
}

.rtl .news-style-three.alterner-2 .title-inner .sec-title{
  float: right;
}

.rtl .news-style-three.alterner-2 .title-inner .btn-box{
  float: left;
}

.rtl .news-style-three .left-block{
  margin-right: 0px;
  margin-left: 55px;
}

.rtl .news-style-three .right-block{
  margin-left: 0px;
  margin-right: -55px;
}

.rtl .page-title .content-box .bread-crumb li:last-child{
  padding-right: 12px;
  margin-right: 5px;
}

.rtl .page-title .content-box .bread-crumb li:first-child{
  padding-right: 0px;
  margin-right: 0px;
}

.rtl .page-title .content-box .bread-crumb li:before{
  right: inherit;
  left: -12px;
}

.rtl #image_block_two .image-box .pattern-layer{
  right: inherit;
  left: -250px;
}

.rtl .about-style-two #content_block_three .tabs-box .tab-btn-box .tab-btns li{
  float: right;
}

.rtl .about-style-two #content_block_three .tabs-box .tab-btn-box .tab-btns li:last-child{
  margin-right: 30px;
}

.rtl .about-style-two #content_block_three .tabs-box .tab-btn-box .tab-btns li:first-child{
  margin-right: 0px;
}

.rtl .about-style-two #content_block_three .tabs-box .tabs-content .content-inner a i{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .team-block-three .inner-box .lower-content{
  text-align: right;
}

.rtl .team-block-three .inner-box .lower-content:before{
  left: inherit;
  right: 0px;
}

.rtl .pricing-section.pricing-page .title-box .sec-title.left h5{
  padding-right: 0px;
  padding-left: 35px;
}

.rtl .pricing-section.pricing-page .title-box .sec-title{
  text-align: right;
}

.rtl .service-details .service-sidebar{
  text-align: right;
}

.rtl .service-details .service-sidebar .sidebar-categories ul li a:after{
  right: inherit;
  left: 45px;
  content: "\f060";
}

.rtl .service-details .service-sidebar .sidebar-testimonial{
  direction: ltr;
}

.rtl .service-details .service-sidebar .sidebar-testimonial .quote-box{
  right: inherit;
  left: 35px;
}

.rtl .service-details .service-sidebar .sidebar-title h3{
  padding-left: 0px;
  padding-right: 40px;
}

.rtl .service-details .service-sidebar .sidebar-title h3:before{
  left: inherit;
  right: 0px;
}

.rtl .service-details .service-sidebar .sidebar-info .info-list li{
  padding-left: 0px;
  padding-right: 35px;
}

.rtl .service-details .service-sidebar .sidebar-info .info-list li i{
  left: inherit;
  right: 0px;
}

.rtl .service-details .service-sidebar .download-option .download-file li a i{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .service-details-content{
  text-align: right;
}

.rtl .service-details-content #content_block_two .content-box .single-progress-box .text{
  text-align: right;
}

.rtl .service-details-content .content-style-one .list-item li{
  padding-left: 0px;
  padding-right: 25px;
}

.rtl .service-details-content .content-style-one .list-item li:before{
  left: inherit;
  right: 0px;
  content: "\f100";
}

.rtl .service-details-content #content_block_two .content-box .single-progress-box .piechart{
  float: right;
}

.rtl .service-details-content{
  margin-right: 0px;
  margin-left: -10px;
}

.rtl .service-details .service-sidebar{
  margin-left: 0px;
  margin-right: 40px;
}

.rtl .sidebar-page-container .sidebar .sidebar-search .form-group input[type='search']{
  padding-right: 20px;
  padding-left: 50px;
}

.rtl .sidebar-page-container .sidebar .sidebar-search .form-group button{
  right: inherit;
  left: 25px;
}

.rtl .sidebar-page-container .sidebar{
  text-align: right;
}

.rtl .sidebar-page-container .sidebar .widget-title h3{
  padding-left: 0px;
  padding-right: 40px;
}

.rtl .sidebar-page-container .sidebar .widget-title h3:before{
  left: inherit;
  right: 0px;
}

.rtl .sidebar-page-container .sidebar .sidebar-categories .categories-list li a span{
  float: left;
}

.rtl .sidebar-page-container .sidebar .sidebar-post .widget-content .post{
  padding-left: 0px;
  padding-right: 105px;
}

.rtl .sidebar-page-container .sidebar .sidebar-post .widget-content .post .post-thumb{
  left: inherit;
  right: 0px;
}

.rtl .sidebar-page-container .sidebar .sidebar-tags .tags-list li{
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .blog-classic-content{
  text-align: right;
  margin-right: 0px;
  margin-left: 18px;
}

.rtl .blog-classic-content .news-carousel{
  direction: ltr;
}

.rtl .news-block-three .inner-box .lower-content .post-info li i{
  margin-right: 0px;
  margin-left: 8px;
}

.rtl .news-block-three .inner-box .lower-content .post-info li:first-child{
  margin-right: 0px;
}

.rtl .news-block-three .inner-box .lower-content .post-info li:last-child{
  margin-right: 20px;
}

.rtl .news-block-three .inner-box .lower-content .link a i{
  margin-right: 0px;
  margin-left: 8px;
}

.rtl .news-block-three .inner-box .image-box .category{
  left: inherit;
  right: 55px;
}

.rtl .news-block-three .inner-box .lower-content{
  direction: rtl;
}

.rtl .news-block-four .inner-box{
  direction: ltr;
}

.rtl .blog-details-content{
  margin-right: 0px;
  margin-left: 18px;
  text-align: right;
}

.rtl .blog-details-content .image-box .category{
  left: inherit;
  right: 55px;
}

.rtl .blog-details-content .inner-box .post-info li:first-child{
  margin-right: 0px;
}

.rtl .blog-details-content .inner-box .post-info li:last-child{
  margin-right: 20px;
}

.rtl .blog-details-content .inner-box .post-info li i{
  margin-right: 0px;
  margin-left: 8px;
}

.rtl .blog-details-content .inner-box .text blockquote{
  border-left: none;
}

.rtl .blog-details-content .post-share-option .post-tags{
  float: right;
}

.rtl .blog-details-content .post-share-option .post-share{
  float: left;
}

.rtl .blog-details-content .comments-area .comment{
  padding-left: 0px;
  padding-right: 110px;
}

.rtl .blog-details-content .comments-area .comment .thumb-box{
  left: inherit;
  right: 0px;
}

.rtl .blog-details-content .comments-area .comment .comment-inner .comment-info .name{
  float: right;
}

.rtl .blog-details-content .comments-area .comment .comment-inner .comment-info .info{
  float: left;
}

.rtl .blog-details-content .group-title h2{
  padding-left: 0px;
  padding-right: 40px;
}

.rtl .blog-details-content .group-title h2:before{
  left: inherit;
  right: 0px;
}

.rtl .blog-details-content .comments-form-area .form-group .custom-controls-stacked .description{
  margin-left: 0px;
  margin-right: 18px;
}

.rtl .custom-control.material-checkbox .material-control-indicator{
  left: inherit;
  right: 0px;
}

.rtl .blog-details-content .post-share-option .post-share li{
  margin-right: 0px;
  margin-left: 6px;
}

.rtl .blog-details-content .comments-area .comment .comment-inner .comment-info .info a i{
  margin-right: 0px;
  margin-left: 8px;
}

.rtl .blog-details-content .comments-area .comment .comment-inner .comment-info .info span{
  padding-right: 0px;
  padding-left: 17px;
  margin-right: 0px;
  margin-left: 11px;
}

.rtl .blog-details-content .comments-area .comment .comment-inner .comment-info .info span:before{
  right: inherit;
  left: 0px;
}

.rtl .sidebar-page-container .sidebar .sidebar-post .widget-content .post .post-date i{
  margin-right: 0px;
  margin-left: 8px;
}

.rtl .mobile-menu{
  text-align: right;
}

.rtl .mobile-menu .navigation li.dropdown .dropdown-btn{
  right: inherit;
  left: 6px;
}

.rtl .mobile-menu .navigation li > a:before{
  left: inherit;
  right: 0px;
}

.rtl .mobile-menu .navigation li.dropdown .dropdown-btn.open{
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.rtl .mobile-menu .nav-logo{
  text-align: right;
}

.rtl .mobile-menu .close-btn{
  right: 250px;
}

.rtl .main-header.style-one .main-menu .navigation > li:last-child{
  margin-right: 22px !important;
  margin-left: 0px;
}
